footer {
    margin-top: 10vmax;
    padding: 2vmax;
    background-image: linear-gradient(90deg, rgb(100, 94, 94),#cdd5d8, rgb(100, 94, 94));
    color: rgb(22, 22, 22);
    font-size: 20px;
    display: flex;
    align-items: center;
  }
  .midFooter {
    width: 60%;

    text-align: center;
  }

  .midFooter > h1 {
    font-size: 4vmax;
    font-family: "Roboto";
    color: rgb(11, 39, 196)
  }
  .midFooter > a:hover {
    color: rgb(21, 32, 194);
  }
  .midFooter > p {
    max-width: 60%;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    margin: 1vmax auto;
  }

  .rightFooter {
    width: 20%;

    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .rightFooter > h4 {
    font-family: "Roboto";
    font-size: 1.4vmax;
    text-decoration: underline;
  }
  .rightFooter > a {
    text-decoration: none;
    font-size: 1.3vmax;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: white;
    transition: all 0.5s;
    margin: 0.5vmax;
  }

  .rightFooter > a:hover {
    color: #eb4034;
  }
  i{
    font-size: 50px;
    color: rgb(51, 76, 214);
    margin-left: 40px;
  }