.header{
    display: flex;
    justify-content: space-between;
    
}

.logo{
    width: 100px;
    height: 100px;
}

.navbar{
    list-style: none;
    display: flex;
    gap: 35px;
    color: black;
}

.navbar li{
    cursor: pointer;
}

.navbar li:hover{
    cursor: pointer;
    color: orange;
}