.programs{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 2 rem;
}

.programs-header{
    display:flex;
    gap: 5rem;
    font-weight: bold;
    font-size: 3rem;
    justify-content: center;
    color:rgb(0, 0, 0);
    text-transform: uppercase;
    
}

.programs-categories{
    display: flex;
    gap: 1rem;
}

.category{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    gap: 1rem;
    padding: 2rem;
    width: 15rem;
    height: 20rem;
    background-color: rgb(152, 159, 160);
    border: 1px solid rgb(196, 192, 192);
    border-radius: 10px;

}

.category>:nth-child(1){
    width: 2rem;
    height: 2rem;
}

.category>:nth-child(2){
    font-size: 2rem;
    font-weight:bold;
}

.category>:nth-child(3){
    font-size: 1.25rem;
    line-height:30px ;
}

.category:hover{
    background-color: #89CFF0;
    cursor: pointer;
}
.join-now{
    display: flex;
    align-items: center;
    gap: 2rem;

}
