.Testimonials{
    display: flex;
    gap: 1rem;
    padding: 0 2rem;
    margin-top: 200px;
}
.left-t{
    display: flex;
    flex: 1 1;
    gap: 2rem;
    flex-direction: column;
    text-transform: uppercase;
    color: rgb(31, 27, 223);
}
.left-t>:nth-child(2),.left-t>:nth-child(3){
    font-weight: bold;
    font-size: 4rem;
    color: rgb(220, 223, 37);
    text-shadow: 2px 2px 5px rgb(38, 0, 255);
}
.left-t>:nth-child(4){
    text-align: justify;
    letter-spacing: 2px;
    line-height: 40px;
    text-transform: uppercase;
    color: rgb(36, 33, 33);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
.right-t{
    flex: 1;
    position: relative;
}
.right-t>img{
    position: absolute;
    height: 25rem;
    width: 17rem;
    object-fit: cover;
    right: 8rem;
    top: 2rem;
}
.right-t>:nth-child(1){
    position: absolute;
    width: 17rem;
    height: 20rem;
    border: 2px solid rgb(0, 204, 255);
    background-color: blue;
    right: 9rem;
    top: 0.9rem;
}
.right-t>:nth-child(2){
    position: absolute;
    width: 17rem;
    height: 20rem;
    right: 6rem;
    background: var(--planCard);
    top: 4rem;
  
}
.arrow{
    display: flex;
    gap: 1rem;
    position: absolute;
    bottom: 1rem;
    left: 3rem;
    
}
.arrow>img{
    cursor: pointer;
    width: 1.5rem;
   
}