.reasons-container{
    padding: 0 2rem;
    display: flex;
    grid-template: 2rem;

}
.left-r{
    flex: 1 1;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
    grid-auto-rows: 1fr;
    
}
.right-r{
    flex: 1 1;

}

.left-r>img{
    object-fit: cover;

}

.left-r>:nth-child(1){
    width: 12rem;
    grid-row:1/4 ;
    height: 28rem;
    
}

.left-r>:nth-child(2){
    width: auto;
    height: 16rem;
    grid-column: 2/4;
}

.left-r>:nth-child(3){
    width: 14rem;
    grid-column: 2/3;
    grid-row: 2;
}


.left-r>:nth-child(4){
    width: 10rem;
   grid-row: 2;
   grid-column: 3/4;
   height: 11.2rem;
}
h3{
    font-size: 70px;
    font-weight: bold;
    text-transform: uppercase;
}
.paragraph{
    font-size: 40px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
}