/* .reasons-container{
    padding: 0 2rem;
    display: flex;
    grid-template: 2rem;

}
.left-r{
    flex: 1 1;
    display:grid;
    grid-template-columns: repeat(3 ,1);
    gap: 1rem;
    grid-auto-rows: 1fr;
    
}

.left-r>img{
    object-fit: cover;
}

.left-r>:nth-child(1){
    width: 12rem;
    grid-row:1/3 ;
    height: 28rem;
}


right-r{
    flex: 1 1;
}
 */




/* .right-r{
    flex:1 1;
    text-overflow: uppercase;
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

.right-r>span{
    font-weight: bold;
    color:var(--transparent);
    
} */

.left-r {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns with equal width */
    grid-gap: 10px; /* Optional: Add gap between grid items */
}
.left-r img {
    width: 100%; /* Make all images fill their grid cells */
    height: auto; /* Maintain aspect ratio */
}